#right .container .row .panel-body table{
	font-size: 15px;
	text-align: center;
	padding: 0
}

#right .container .row .panel-body .pan-head{
	/*margin-bottom: 20px*/
	z-index: 100
}

#right .container .row .panel-body .pan-head p{
	text-align: center;
}

#right .container .row .panel-body table thead th{
	text-align: center;
}

#right .container .row .panel-body table button{
	width: 45px;
	height: 22px;
	font-size: 5px;
	padding: 0
}