*{
	padding: 0;
	margin: 0

}

body{
	background-color: #f9ebc8
}

#head{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	background-color: #fff
}

.navbar-default{
	background-color: #01847f;
	border: solid 1px #01847f;
	padding-left: 0px;
	border-radius: 0;
	margin-bottom: 0
}

.navbar-default .head-left{
	float: left;
	width: 40px;
	height: 40px;
	margin-left: 15px;
	margin-top: 5px;
	border-radius: 20px;
	background-color: #fff;
	line-height: 40px;
	text-align: center;
	font-size: 20px
}

.navbar-default a{
	color: #000
}

.navbar-default .head-center{
	color: #fff;
	width: 200px;
	height: 50px;
	line-height: 50px;
	float: left;
	text-align: center;
	font-size: 20px;
	position: relative;
	left: 50%;
	margin-left: -160px;
}

.navbar-default button{
	margin-right: 15px;
	margin-top: 8px;
	float: right;
}

#left .container .row:hover{
	color: #e1e5e9
}

#right .container .row .panel-body table{
	font-size: 15px;
	text-align: center;
	padding: 0
}
#right .container .row .panel-body table th{
	text-align: center;
}

#right .container .row .panel-body table button{
	width: 45px;
	height: 22px;
	font-size: 10px;
	padding: 0
}

#al-delete,#al-add{
	float: right;
	margin-right: 10px
}

