.caption span{
	font-size: 15px;
	line-height: 1px
}

.caption .money{
	color: red;
	margin-top: -2px;
	font-size: 20px
}

.caption .la{
	color: #f0ad4e
}

.caption .fen{
	color: #5cd85c
}

.col-xs-6, .col-md-3{
	padding-bottom: 10px
}

#right .con .container .money button{
	float: right;
	margin-right: 5px
}

#right .con .container .pan-head{
	width: 100%;
	height: 50px
}

#right .con .container .pan-head button{
	float: right;
	margin-right: 18px
}