@media (min-width: 1080px){

}

body{
	background-color: #f9ebc8
}

a:hover{
	text-decoration:none
}

#head{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	background-color: #fff
}

.navbar-default{
	background-color: #01847f;
	border: solid 1px #01847f;
	padding-left: 0px;
	border-radius: 0;
	margin-bottom: 0
}

.navbar-default .navbar-header{
	float: left;
	margin-left: -5px;
}

.navbar-default .navbar-header a{
	width: 100%;

	color: #fff
}

.navbar-default button{
	margin-right: 20px;
	margin-top: 8px;
	float: right;
}

#left{
	position: absolute;
	top: 52px;
	bottom: 0;
	background-color: #233445;
	width: 80px;

}

#left .left-head{
	color: #fff;
	width: 80px;
	padding-left: 10px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	    font-family: inherit;
	background-color: #5cb85c;
	margin-bottom: 20px
}

.col-md-12{
	padding: 0
}

#left .left-head span{
	margin-right: 10px
}

#left .container{
	color: #6d7e8e;
}

#left .container .row{
	padding: 0;
	margin-top: 30px;
	width: 80px;
	cursor: pointer;
	font-size: 10px;
	height: 55px
}

#left .container .row span{
	font-size: 25px;
	margin-left: 27px;
	margin-top: 10px
}

#left .container .row p{
	margin-top: 5px;
	font-size: 5px;
	text-align: center;
}

#left .container .act{
	color: #e1e5e9;
	border-left: solid 2px #5cb85c;
}

#left .container .row a{
	color: #6d7e8e;
}

#left .container .row a:hover{
	color: #e1e5e9
}

#right{
	position: absolute;
	right: 0;
	bottom: 0;
	top: 52px;
	left: 80px;
	overflow-y:auto
}

#right .right-head{
	height: 36px;
	background-color: #fff
}

#right .con{
	width: 100%;
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 10px
}

#right .row .row{
	margin-top: 20px;
	font-size: 22px
}

#right .row .row .control-label{
	text-align: right;
	line-height: 32px;
	font-size: 16px
}

#right .row .row .glyphicon-user{
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background-color: #e1e5e9;
	color: #fff;
	font-size: 40px
}

#row-from{
	display: none;
}

#right .row .row form{
	font-size: 15px;
	color: #ccc;
	padding-left: 10px;
	padding-right: 10px
}