body{
	
	height: 2000px
}

.navbar-default{
	padding-left: 10px;
	padding-right: 20px;
	background-color: #fff;
	border-color: #fff;
	float: left;
	width: 100%
}



@media (min-width: 1080px){
	#head{
		width: 1080px;
		float: left;
		position: relative;
		left: 50%;
		margin-left: -540px
	}
}

#x{
	background-color: #5cb85c;
	color: #fff;
	border-radius: 2px
}

.navbar-default .navbar-nav>li>a:hover{
	background-color: #5cb85c;
	color: #fff;
	border-radius: 2px
}

.navbar-nav li a:hover{
	background-color: #5cb85c;
	color: #fff
} 

#sign{
	padding: 6px;
	padding-left: 15px;
	padding-right: 15px;
	height: 35px;
	border: solid 2px #5cb85c;
	border-radius: 5px;
	margin-top: 8px;
}

#sign:hover{

}